{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 250,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto"
}